[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "~=0.54.1"
numpy = "~=1.20.3"
pyzmq = "~=22.3.0"

[dev-packages]
autopep8 = "*"
pyinstaller = "*"
matplotlib = "~=3.5.1"

[requires]
python_version = "3.9"
