:root{
    --sidebar-width: 250px;
    --titlebar-height: 0px;
}

body {
    width:100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    background-color: var(--bs-gray-dark);
}

.app{
    width:100%;
    height:calc(100vh - var(--titlebar-height));
}
.sidebar{
    max-width:var(--sidebar-width);
    height:100%;
    float: left;
    /*background-color: rgb(34, 34, 34);*/
}
#sidebar-main{
    width: var(--sidebar-width);
}

#sidebar-toggle{
    padding-top: 15px;
}

.form-select-dark{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    border-color: var(--bs-primary);
}
.form-select-dark > option{
    background-color: var(--bs-gray-800);
    border-radius: 0.25rem !important;
}

#view-canvas{
    object-fit:none;
    max-width: 100%;
    max-height:100%;
    background-color: var(--bs-gray-dark);
    /*width:100%;
    height:100%;*/
}

#viewport{
    float: left;
    background-color: var(--bs-gray-dark);
    height: 100%;
}

#titlebar{
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;

    height:var(--titlebar-height);
    background-color: #1f2327;
}